<% @body_id = 'checkout-page' %>
<div id="progress-one-page-checkout">
	<div class="ds-tbl">
		<div class="ds-tbl-cell"><%= image_tag 'rolling.svg' %></div>
	</div>
</div>
<div id="checkout" data-hook>
  <% @order.checkout_steps[0...-1].each do |state| %>
    <%if state != "confirm" %>
	    <div class="checkout_content <%= 'disabled-step' if state != @order.state %>" data-step="<%= state %>"data-hook="checkout_content" id="checkout_<%= state %>">
	      <%= render :partial => 'form_wrapper', :locals => { :order => @order, :state => state } %>
	    </div>
    <% end %>
  <% end %>
  <div class="checkout_content disabled-step" data-step="confirm" data-hook="checkout_content" id="checkout_confirm">
    <%= render :partial => 'form_wrapper', :locals => { :order => @order, :state => "confirm" } %>
  </div>
</div>